/* 
---------------------
    Google Fonts 
---------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}

h3 {
    font-weight: 700;
    font-size: 36px;
}

/* 
----------------------------
    Headings Custom CSS 
----------------------------
*/
header {
    background-color: #FFF9F4;
}

span , h3 {
    color: #FA804C;
}

.custom-btn {
    background-image: linear-gradient(#3D4FF3,#3543BC);
    color: white;
    width: 170px;
    height: 60px;
    text-transform: uppercase;
}

/* 
------------------------------
    Products' Custom CSS 
------------------------------
*/

.card > img {
    background-color: #F1F1F1;
}

.buy {
    background-color: white;
    border: none;
}