/* 
---------------------
    Google Fonts 
---------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

/* 
----------------------------
    Headings Custom CSS 
----------------------------
*/
header {
    background-color: #FFF9F4;
}

span {
    color: #FA804C;
}

button {
    background-image: linear-gradient(#3D4FF3,#3543BC);
    color: white;
}